@charset "utf-8";

/* font */
@import url('https://webfontworld.github.io/nexen/NexenTire.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* color */
:root {
    --companyColor : #3C77CF;
    --titleFont : 'NexenTire';
}

/* reset */
* {margin: 0;padding: 0;}

a {text-decoration: none;}
li {list-style: none;}
p, a, h1, h2, h3, h4, h5, h6, td, th {color:#000;font-family: 'pretendard';}

#wrap {width: 100%;}

/* ====================
    header
====================*/
#wrap header {
    width: 100%; height: 96px;
    background-color: #fff;
}
#wrap header .headerInner {
    width: 1342px; height: 96px;
    display: flex;
    gap: 240px;
    align-items: center;
    margin: 0 auto;
}
#wrap header .headerInner .toggle {
    margin-top: -15px;
    margin-right: 222px;
    font-size: 25px;
    color: var(--companyColor);
    display: flex;
    gap: 20px;
    align-items: center;
}
#wrap header .headerInner .headerInfo {
    display: flex;
    align-items: center;
    gap: 5px;
}
#wrap header .headerInner .headerInfo .money {
    margin-right: 14px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    color: var(--companyColor);
}
#wrap header .headerInner .headerInfo .log a {
    display: flex;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background-color: var(--companyColor);
    padding: 11px 8px;
    font-weight: bold;
    border-radius: 10px;
}



/* menu */
#wrap .menu {
    width: 358px;
    height: 1080px;
    z-index: 3;
    position: fixed;
    background-color: #fff;
    top: 0;left: 0;
    /* display: none; */
}
#wrap .menu .close{
    width: 40px; height: 40px;
    position: absolute;
    top: 28px;right: 28px;
}
#wrap .menu .mainMenu {
    margin: 195px 0 0 46px;
}
#wrap .menu .mainMenu li>a {
    width: 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
#wrap .menu .mainMenu li>a .title{
    font-size: 28px;
    letter-spacing: -2px;
    display: flex;
    gap: 10px;
}
#wrap .menu .mainMenu li .subMenu li>a {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(60, 119, 207, 0.2);
    padding: 18px 0 18px 50px;
    width: 268px;
    box-sizing: border-box;
}
#wrap .menu .mainMenu li .subMenu li>a img {
    width: 24px;
}





/* ====================
    main
====================*/





/* ====================
    footer
====================*/
footer {
    width: 100%;
    height: 192px;
}
footer .footerInner {
    position: relative;
    width: 1341px;
    height: 100%;
    margin: 0 auto;
    border-top: 2px solid #3C77CF;
}
footer .footerInner .blogo {
    position: absolute;
    top: 44px;
    width: 154px;
    height: 30px;
}
footer .footerInner .blogo img {
    width: 100%;
    height: auto;
}
footer .footerInner p,
footer .footerInner span,
footer .footerInner span a {
    position: relative;
    color: #808080;
    font-size: 19px;
}
footer .footerInner p {
    position: relative;
    top: 98px;
}
footer .footerInner p span {
    top: 0;
}
footer .footerInner span {
    position: relative;
    top: 103px;
    font-weight: 700;
}
footer .footerInner span a {
    position: relative;
    font-weight: 500;
}
footer .footerInner .footer_menu {
    position: absolute;
    top: 47px;
    right: 0;
}
footer .footerInner .footer_menu a {
    margin-left: 56px;
    font-size: 18px;
    color: var(--companyColor);
}
footer .footerInner .footer_menu a:nth-of-type(3) {
    font-weight: 700;
}
footer .footerInner .app {
    position: absolute;
    top: 107px;
    right: 169px;
}
footer .footerInner select {
    position: absolute;
    width: 160px;
    height: 37px;
    border-radius: 5px;
    top: 107px;
    right: 0;
    border: 1px solid #a6a6a6;
    font-size: 18px;
    color: #a6a6a6;
}
footer .footerInner select option {
    margin-left: 50px;
}



