@charset "utf-8";

/* font */
@import url('https://webfontworld.github.io/nexen/NexenTire.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* color */
:root {
    --companyColor : #3C77CF;
    --titleFont : 'NexenTire';
}

/* reset */
* {margin: 0;padding: 0;}

a {text-decoration: none;}
li {list-style: none;}
p, a, td, th {color:#000;font-family: 'pretendard';}
h1, h2, h3, h4, h5, h6 {color: #000; font-family: 'NexenTire';}

#wrap {
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* ====================
    header
====================*/

#wrap header .headerInner {
    width: 1342px; height: 96px;
    display: flex;
    gap: 240px;
    align-items: center;
    margin: 0 auto;
}
#wrap header .headerInner .toggle {
    margin-top: -15px;
    margin-right: 222px;
    font-size: 25px;
    color: var(--companyColor);
    display: flex;
    gap: 20px;
    align-items: center;
}
#wrap header .headerInner .headerInfo {
    display: flex;
    align-items: center;
    gap: 5px;
}
#wrap header .headerInner .headerInfo .money {
    margin-right: 14px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    color: var(--companyColor);
}
#wrap header .headerInner .headerInfo .log a {
    display: flex;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background-color: var(--companyColor);
    padding: 11px 8px;
    font-weight: bold;
    border-radius: 10px;
}



/* menu */
#wrap .menu {
    width: 358px;
    height: 1080px;
    z-index: 3;
    position: fixed;
    background-color: #fff;
    top: 0;left: 0;

    display: none;
}
#wrap .menu .close{
    width: 40px; height: 40px;
    position: absolute;
    top: 28px;right: 28px;
}
#wrap .menu .mainMenu {
    margin: 195px 0 0 46px;
}
#wrap .menu .mainMenu li>a {
    width: 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
#wrap .menu .mainMenu li>a .title{
    font-size: 28px;
    letter-spacing: -2px;
    display: flex;
    gap: 10px;
}
#wrap .menu .mainMenu li .subMenu li>a {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(60, 119, 207, 0.2);
    padding: 18px 0 18px 50px;
    width: 268px;
    box-sizing: border-box;
}
#wrap .menu .mainMenu li .subMenu li>a img {
    width: 24px;
}





/* ====================
    main
====================*/
#wrap main {
    width: 1342px;
    padding: 50px 0 50px 0;
    background-color: #fff;
    margin: 0 auto;
}


#wrap main .title {
    width: 467px;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    padding: 30px 50px;
    box-sizing: border-box;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0 auto;
}

#wrap main p.subtitle {
    margin-top: 27px;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    background-color: #fff;
}
#wrap main p.subtitle span {
    color: var(--companyColor);
    font-weight: bold;
}

#wrap main .paymentInner {
    display: flex;
    justify-content: space-between;
    height: 550px;
    align-items: center;
}

#wrap main .paymentInner img {
    width: 96px;
    height: 96px;
}



/* non-paymentList */
#wrap main .paymentInner .non-paymentList {
    width: 569px; height: 550px;
    overflow-y: scroll;
    border-bottom: 5px solid #555;
    border-top: 5px solid #555;
    box-sizing: border-box;
}

#wrap main .paymentInner .non-paymentList::-webkit-scrollbar {
    display: none;
}
#wrap main .paymentInner .non-paymentList table.listInner {
    width: 100%; height: 550px;
    box-sizing: border-box;
}
#wrap main .paymentInner .non-paymentList .listInner tr {
    width: 100%;height: 131px;
}
#wrap main .paymentInner .non-paymentList .listInner tr td {
    text-align: center;
    border-bottom: 5px dashed #ddd;
}
#wrap main .paymentInner .non-paymentList .listInner tr .name {
    font-size: 35px;
}
#wrap main .paymentInner .non-paymentList .listInner tr .date {
    font-size: 25px;
    color: #555;
}
#wrap main .paymentInner .non-paymentList .listInner tr .price {
    font-size: 35px;
    font-weight: bold;
}


/* selectBox */
#wrap main .paymentInner .selectBox {
    width: 569px;
}
#wrap main .paymentInner .selectBox .select {
    height: 550px;
    border-top: 5px solid var(--companyColor);
    border-bottom: 5px solid var(--companyColor);
    padding: 25px 0;
    box-sizing: border-box;
}
#wrap main .paymentInner .selectBox .select .carNumber {
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    margin: 0 38px 25px;
}
#wrap main .paymentInner .selectBox .select .parkingInfo {
    display: flex;
    gap: 35px;
    margin: 0 38px;
}
#wrap main .paymentInner .selectBox .select .parkingInfo .enterTime,
#wrap main .paymentInner .selectBox .select .parkingInfo .leaveTime {
    width: 80px;
    font-size: 30px;
    font-weight: 550;
    text-align: center;
    margin-top: 25px;
}
#wrap main .paymentInner .selectBox .select .parkingInfo .time {
    width: 270px;
    height: 180px;
    font-size: 35px;
    text-align: center;
    padding: 44px 56px 92px;
    box-sizing: border-box;
    letter-spacing: -4%;
    background: url("../images/sub_selectArrow.png") no-repeat center/cover;
}
#wrap main .paymentInner .selectBox .select .roundingTime {
    font-size: 35px;
    font-weight: 550;
    text-align: center;
    padding: 10px 0 30px;
}
#wrap main .paymentInner .selectBox .select .total {
    font-size: 60px;
    font-weight: bold;
    text-align: right;
    padding-top: 10px;
    border-top: 5px dashed #ddd;
}
#wrap main  button {
    font-size: 32px;
    font-weight: 550;
    background-color: #e9e9e9;
    border: none;
    padding: 21px 38px;
    border-radius: 30px;
    margin-top: 15px;
    float: right;
}

#wrap main .pay {
    width: 1340px;
    margin: 0 auto;
    margin-top: 104px;
    margin-bottom: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#wrap main .pay p {
    font-size: 70px;
    line-height: 124px;
    text-align: center;
    color: #223e94;
    border-bottom: 5px solid var(--companyColor);
}
#wrap main .pay p span {
    font-size: 80px;
    font-weight: bold;
    color: #223e94;
}
#wrap main .pay button {
    width: 423px;
    height: 103px;
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    background-color: var(--companyColor);
    border: none;
    border-radius: 30px;
}


#wrap main h3 {
    font-size: 45px;
    font-weight: 550;
}
#wrap main .non-paymentSteps .steps {
    display: flex;
    width: 1330px;  
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}
#wrap main .non-paymentSteps .steps li p {
    width: 182px;
    height: 100px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
}
#wrap main .non-paymentSteps .steps .blueBox p {
    color: #fff;
    background-color: var(--companyColor);
}
#wrap main .non-paymentSteps .steps .whiteBox p {
    background-color: #fff;
    border: 1px solid #555;
}
#wrap main .non-paymentSteps .steps li:nth-child(7) p {
    padding-top: 11px;
}
#wrap main .non-paymentSteps .steps li p span {
    font-size: 15px;
}
#wrap main .non-paymentSteps .caution {
    margin: 36px 0 100px 310px;
    display: flex;
    gap: 240px;
}
#wrap main .non-paymentSteps .caution li {
    list-style: disc;
    line-height: 24px;
}


#wrap main .non-paymentMethod .methodInner {
    width: 1330px;
    height: 196px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    margin: 50px 0 170px;
}
#wrap main .non-paymentMethod .methodInner .method1 {
    width: 665px;
    height: 160px;
    border-right: 2px dashed #ddd;
}
#wrap main .non-paymentMethod .methodInner .method2 {
    padding-left: 20px;
}
#wrap main .non-paymentMethod .methodInner ul li {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
}
#wrap main .non-paymentMethod .methodInner ul li p span {
    font-size: 18px;
    color: #808080;
    line-height: 34px;
}
#wrap main .non-paymentMethod .methodInner ul li ul li {
    font-size: 16px;
    list-style: disc;
    margin: 10px 0 0 25px;
    line-height: 17px;
}





/* ====================
    footer
====================*/
footer {
    width: 100%;
    height: 192px;
}
footer .footerInner {
    position: relative;
    width: 1341px;
    height: 100%;
    margin: 0 auto;
    border-top: 2px solid #3C77CF;
}
footer .footerInner .blogo {
    position: absolute;
    top: 44px;
    width: 154px;
    height: 30px;
}
footer .footerInner .blogo img {
    width: 100%;
    height: auto;
}
footer .footerInner p,
footer .footerInner span,
footer .footerInner span a {
    position: relative;
    color: #808080;
    font-size: 19px;
}
footer .footerInner p {
    position: relative;
    top: 98px;
}
footer .footerInner p span {
    top: 0;
}
footer .footerInner span {
    position: relative;
    top: 103px;
    font-weight: 700;
}
footer .footerInner span a {
    position: relative;
    font-weight: 500;
}
footer .footerInner .footer_menu {
    position: absolute;
    top: 47px;
    right: 0;
}
footer .footerInner .footer_menu a {
    margin-left: 56px;
    font-size: 18px;
    color: var(--companyColor);
}
footer .footerInner .footer_menu a:nth-of-type(3) {
    font-weight: 700;
}
footer .footerInner .app {
    position: absolute;
    top: 107px;
    right: 169px;
}
footer .footerInner select {
    position: absolute;
    width: 160px;
    height: 37px;
    border-radius: 5px;
    top: 107px;
    right: 0;
    border: 1px solid #a6a6a6;
    font-size: 18px;
    color: #a6a6a6;
}
footer .footerInner select option {
    margin-left: 50px;
}



